[submodule "Solstice.API"]
	path = Solstice.API
	url = git@github.com:alexandrejournet/Solstice.API.git
[submodule "Solstice.Applications"]
	path = Solstice.Applications
	url = git@github.com:alexandrejournet/Solstice.Applications.git
[submodule "Solstice.Database.Conventions"]
	path = Solstice.Database.Conventions
	url = git@github.com:alexandrejournet/Solstice.Database.Conventions.git
[submodule "Solstice.Database.MySql"]
	path = Solstice.Database.MySql
	url = git@github.com:alexandrejournet/Solstice.Database.MySql.git
[submodule "Solstice.Database.PostgreSQL"]
	path = Solstice.Database.PostgreSQL
	url = git@github.com:alexandrejournet/Solstice.Database.PostgreSQL.git
[submodule "Solstice.Infrastructure"]
	path = Solstice.Infrastructure
	url = git@github.com:alexandrejournet/Solstice.Infrastructure.git
[submodule "Solstice.Domain"]
	path = Solstice.Domain
	url = git@github.com:alexandrejournet/Solstice.Domain.git
[submodule "Solstice.Scheduled"]
	path = Solstice.Scheduled
	url = git@github.com:alexandrejournet/Solstice.Scheduled.git
