[submodule "Solstice.API"]
	path = Solstice.API
	url = git@github.com:Radiant-NET/Radiant.NET.API.git
[submodule "Solstice.Applications"]
	path = Solstice.Applications
	url = git@github.com:Radiant-NET/Radiant.NET.Applications.git
[submodule "Solstice.Database.Conventions"]
	path = Solstice.Database.Conventions
	url = git@github.com:Radiant-NET/Radiant.NET.Database.Conventions.git
[submodule "Solstice.Database.MySql"]
	path = Solstice.Database.MySql
	url = git@github.com:Radiant-NET/Radiant.NET.Database.MySql.git
[submodule "Solstice.Database.PostgreSQL"]
	path = Solstice.Database.PostgreSQL
	url = git@github.com:Radiant-NET/Radiant.NET.Database.PostgreSQL.git
[submodule "Solstice.Repository"]
	path = Solstice.Repository
	url = git@github.com:Radiant-NET/Radiant.NET.Repository.git
[submodule "Solstice.Domain"]
	path = Solstice.Domain
	url = git@github.com:Radiant-NET/Radiant.NET.Domain.git
[submodule "Solstice.Scheduled"]
	path = Solstice.Scheduled
	url = git@github.com:Radiant-NET/Radiant.NET.Scheduled.git
